{% extends 'base.twig' %}
{% block body %}
<h3 class="mb-3 mt-3">Latest Posts!</h3>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      {% for post in posts %}
        <div class="row mb-2 bg-light" style="border: 1px solid #ddd;">
          <div class="p-3">
            {% if post.image_path is not null %}
              <img src="{{ post.image_path }}" class="img-fluid" style="height: 400px; width: 1200px;" alt="...">
            {% else %}
              <img src="https://dummyimage.com/1200x400/cf36cf/fff&text=Article" class="img-fluid" alt="">
            {% endif %}
              <div class="card-body">
                <h5 class="card-title"> {{ post.title|escape }} </h5>
                <span class="text-muted">Vlad Tretyak | {{ post.published_date|date("F d, Y")}} </span>
                <p class="card-text">{{ post.description|escape }}</p>
                <a href="/{{ post.url_key }} " class="btn btn-primary px-5">Read more</a>
              </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="col-md-3">
      <h4>Avtor</h4>
      <span>Hello, my name is Vlad Tretyak. I am a initial web developer</span>
    </div>
  </div>
</div>

         
{% endblock %}
